.reveal pre {
  width: 98%;
  margin: 0px;
  box-shadow: none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.north-west > .box-padding #boxed-text,
.north-east > .box-padding #boxed-text {
  margin-top: 25%;
}

.south-west > .box-padding #boxed-text,
.south-east > .box-padding #boxed-text {
  margin-bottom: 25%;
}